.super-mario {
    width: 200px;
    position: absolute;
    left: 85px;
    
   
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    top: 380px;
    left: 150px;
    


  }
  
  .baloon {
    position: absolute;
    left: 400px;
    z-index: 1;
    
  
  }
  
  .speech {
    font-size: 25px;
    position: absolute;
    top: 120px;
    left: 425px;
    z-index: 2;
    
    
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    top: 250px;
    left: 700px;

  }